@use 'variables';

.card__container {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
  width: 300px;
  border-radius: variables.$border-radius;
  background-color: #263238;
  box-shadow: variables.$box-shadow-inactive;

  .card__container--top {
    font-size: 13px;
    height: 35%;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid variables.$color-text;
    flex-wrap: wrap;
    color: variables.$color-text;
  }

  .card__container--bottom {
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .card__container--bottom--coice {
      padding: 16px;
      display: flex;
      width: 100%;
      height: 25%;

      .radio__button {
        width: 1px;
        height: 1px;

        &:focus {
          outline: none;
        }

        &:checked + label {
          color: variables.$color-background;
          background: variables.$color-text;
          box-shadow: variables.$box-shadow-active;
        }

        &focus + label {
          border: 1px solid variables.$color-background;
          background-color: variables.$color-text;
          color: variables.$color-background;
        }
      }

      label {
        padding: 5px;
        display: inline-block;
        box-shadow: variables.$box-shadow-inactive;
        height: 45px;
        width: 100%;
        background-color: variables.$color-background;
        position: relative;
      }
    }
  }
}
