@use 'variables';

.modal__container {
  border: 1px solid variables.$color-text;
  border-radius: variables.$border-radius;
  box-shadow: variables.$box-shadow-modal;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  bottom: 150px;
  z-index: 10;
  background-color: variables.$color-background;
  height: 350px;
  width: 300px;

  &:focus {
    outline: variables.$color-outline outset 300px;
  }

  a {
    margin-left: 16px;
    width: 100%;
  }

  .modal__container--button {
    display: block;
    font-size: larger;
    font-weight: bolder;
    height: 36px;
    width: 95%;
    border: 1px solid variables.$color-text;
    border-radius: 4px;
    background-color: variables.$color-background;
    box-shadow: variables.$box-shadow-inactive;
    color: variables.$color-text;

    &:hover {
      outline: variables.$color-outline outset 3px;
      font-size: larger;
      font-weight: bolder;
    }

    &:active {
      border-radius: 4px;
      background: variables.$color-background;
      box-shadow: variables.$box-shadow-active;
    }

    &:focus {
      outline: variables.$color-outline outset 3px;
      color: variables.$color-outline;
      font-size: larger;
      font-weight: bolder;
    }
  }
}
